$background-color: #FCEFF2;
$primary-color: #FFB6C1;
$accent-color: #FF69B4;
$text-color: #5c5a5a;
$background-color-200: #f2e5e8;
$background-color-300: #4B0082;
$primary-color-200: #df99a4; 
$primary-color-300: #985863;
$accent-color-200: #930058;
$text-color-200: #a0a0a0;
